        .container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 24px;
        }
        .form-input {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        input[type=text]:hover {
            background-color: #AAFFCC;
        }
        input[type=password]:hover {
            background-color: #AAFFCC;
        }
        select[id=user-type-input]:hover {
            background-color: #AAFFCC;
        }
        input[type=submit] {
            width: 100%;
            height: 30px;
            background-color: #AAFFCC;
        }
        input[type=submit]:hover {
            cursor: pointer;
            background-color: #CCFF00;
        }
        input[type=submit]:active {
            background-color: #000;
        }
        .input-error {
            border-color: red;
        }
        .theme-button {
            position: absolute;
            right: 5px;
            top: 5px;
            display: inline-block;
            padding: 10px 25px;
            cursor: pointer;
         }
